body{
    align-items: center;
}
.form-label{
    color: red;
}
.d{
    background-color: red;
    border-radius: 1rem;
}
#anzeigen{
    background: whitesmoke;
    width: 21.5rem;
    height: 2.5rem;
    font-size: 1rem;

    border-radius: 8px;

}
.gen{
    color: white;
}

.numberInput{
    text-align: center;
}
.checkBox{
    color: white;
}
.crator {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #666666; /* Etwas dunkleres Grau für den Text */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.crator p {
    margin: 0;
}

/* Optional: Stil für Hover-Effekt */
.crator p:hover {
    color: #333333; /* Etwas dunkleres Grau beim Hover */
}